body {
  background-color: #311B50;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
  .container {
      position: relative;
      z-index: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: transparent;
    }


  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  h1 {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  label {
    font-size: 18px;
  }

  input {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    color: #FFFFFF;
  }

  button {
    padding: 10px 20px;
    background-color: #512581;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #verificationResult {
    font-size: 18px;
  }

  .lock-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 40px auto;
    width: 120px;
    height: 160px;
  }

  .lock {
    font-size: 64px; 
  }

  /* New animations */
  .hidden {
    display: none;
  }

  .fade-in {
    animation: fadeIn 2s;
  }

  .fade-out {
    animation: fadeOut 2s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeIn1 {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Apply the animation to h3 */
  h3 {
    animation: fadeIn1 1s ease-in-out;
  }
  .container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h4 {
  color: hsl(100, 100%, 100%);
  text-align: center;
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms infinite;
      align-items: center;
    justify-content: center;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}